<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rose.mapper.TbOrderMapper">
  <resultMap id="BaseResultMap" type="com.rose.data.entity.TbOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_sum_amount" jdbcType="DECIMAL" property="orderSumAmount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>